.th {
    padding: 10px;
    border: 1px solid black;
    background: red;
    width: 200px;
    display: flex;
}
.tr {
    display: flex;
}
.td {
    padding: 10px;
    width: 200px;
    border: 1px solid black;
    float: left;
}
tbody {
    width: 100%;
}
#jsonFile {
    width: 800px;
    display: inline-block;
}